.bg{
    background: #005AA7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #FFFDE4, #005AA7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #FFFDE4, #005AA7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#my-pie-chart {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background: conic-gradient(brown 0.00%, black 0.00% 0.55%, blue 0.55% 6.08%, green 6.08% 13.68%, yellow 13.68% 23.27%, orange 23.27% 40.47%, red 40.47%);
}
.mt-top{
    margin-top: 200px;
    max-width: 70%;
}

.card{
    background: #757F9A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #D7DDE8, #D3D3D3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #D7DDE8, #D3D3D3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.font{
    font-family: 'Permanent Marker', cursive;
}

.topnav {
    background-color: rgb(32, 105, 201);
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #1ce6d5;
    color: white;
  }

  * {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
  
  #about
  {
    background: rgb(75, 172, 252);
      background-size: cover;
      background-position: 30% 30%;
      color:#555!important;
      background-attachment: relative;
      padding-top: 50px;
      padding-bottom: 50px;
      color:#555;
  }
  
  
  #about .btn
  {
      margin-top:20px;
      margin-bottom:30px;
      
  }
  
  .about-content
  {
      padding-top: 20px;
  }
  
  .skills-bar p
  {
      margin-bottom:6px;
      font-weight: 600;
  }
  
  .progress-bar
  {
      border-radius:16px;
  }
  
  .progress
  {
      border-radius:16px!important;
      margin-bottom: 20px;
      
  }
  
  #services
  {
      background: rgba(86, 188, 219, 0.959);
      background-size: cover;
      background-position: 30% 30%;
      color:#555!important;
      background-attachment: relative;
      padding-top:40px;
      padding-bottom: 40px;
  }
  
  #services h1
  {
      text-align: center;
      color:#fff!important;
      padding-bottom: 10px;
  }
  
  #services h1::after
  {
      content: '';
      background:#efefef;
      display: block;
      height:3px;
      width:170px;
      margin: 20px auto 5px;
  }
  #services h3
  {
      font-weight: 400;
      color: white;
      margin: auto;
  }
  #services p
  {
      font-weight: 400;
      color: white;
      margin: auto;
      margin-top: 20px;
  }
  
  
  #services i
  {
      
      color: white;
  }
  
  .icon
  {
      font-size:40px;
      margin:20px auto;
      padding: 20px;
      height: 80px;
      width:80px;
      border:1px solid #fff;
      border-radius:50%;
  }
  
  .services .col-md-4:hover{
      background:#007bff;
      cursor: pointer;
      transition: 0.7s;
      
  }
  
  /*-------team-------*/
  #team
  {
      padding-top: 50px;
      padding-bottom: 50px;
      color: #555;
      
  }
  
  h1
  {
      text-align: center;
      color: #555!important;
      padding-bottom: 10px;
  }
  
  h1::after
  {
      content:'';
      background: #007bff;
      display: block;
      height: 3px;
      width: 170px;
      margin: 20px auto 5px;
  }
  
  .profile-pic .img-box
  {
      opacity: 1;
      display: block;
      position: relative;
  }
  
  .profile-pic .img-box img
  {
      filter: grayscale(1);
      
  }
  
  .profile-pic .img-box img:hover
  {
      filter: grayscale(0);
      cursor: pointer;
      
  }
  
  .profile-pic h2
  {
      font-size: 22px;
      font-weight: bold;
      margin-top:15px;
      color: #007bff!important;
      
  }
  
  .profile-pic h3
  {
      font-size: 15px;
      font-weight: bold;
      margin-top:15px;
      color: black;
      
  }
  
  #team .fa
  {
      height:25px;
      width: 25px;
      color: #007bff !important;
      background: #fff;
      padding: 4px;
      border-radius: 50%;
  }
  
  .img-box ul
  {
      padding: 15px 0;
      position: absolute;
      z-index: 2;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      opacity: 0;
  }
  
  .img-box ul li
  {
      padding: 5px;
      display: inline-block;
  }
  
  .img-box:hover ul
  {
      opacity: 1;
      
  }
  
  .img-box ul, .img-box ul
  {
      transition: 0.5s;
  }
  
  .img-responsive
  {
      height: 250px;
      width: 200px;
      margin: 0px 50px;
      
      
  }
  
  #contact
  {
      background: #efefef;
      padding-top: 40px;
      padding-bottom: 40px;
      color: #777;
  
  }
  
  .contact-form
  {
      padding: 15px;
  }
  
  ::placeholder
  {
      color: #999!important;
  }
  
  .follow
  {
      background: #fff;
      padding: 10px;
      margin: 15px;
  }
  
  .contact-info .fa
  {
      margin: 10px;
      color: #007bff;
      font-weight: bold;
  }
  
  #contact
  {
      background: #efefef;
      padding-top: 40px;
      padding-bottom: 40px;
      color: #777;
  
  }
  
  .contact-form
  {
      padding: 15px;
  }
  
  ::placeholder
  {
      color: #999!important;
  }
  
  .follow
  {
      background: #fff;
      padding: 10px;
      margin: 15px;
  }
  
  .contact-info .fa
  {
      margin: 10px;
      color: #007bff;
      font-weight: bold;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top:20px; 
    margin-bottom:20px; 
  }

  input[type=trustLevel], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=totalScanTimeInSeconds], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=GrandTotal], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=lineitemvoids], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=scanswithoutregistration], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=quantityModifications], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=scannedLineItemsPerSecond], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=valuePerSecond], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=lineItemVoidsPerPosition], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-
    box;
  }

  body {
	margin: 0;
	padding: 0;
}
.wrapper {
	width: 100%;
	height: 100vh;
	overflow: hidden;
	position: relative;
	background-color: #000;
}
.wrapper>div {
	width: 100%;
	height: 100%;
	position: absolute;
	animation: animate 25s infinite;
	opacity: 0;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
}
.wrapper>div:nth-child(2) {
	animation-delay: 5s;
}
.wrapper>div:nth-child(3) {
	animation-delay: 10s;
}
.wrapper>div:nth-child(4) {
	animation-delay: 15s;
}
.wrapper>div:nth-child(5) {
	animation-delay: 20s;
}
@keyframes animate {
	10% {
		opacity: 1;
	}
	20% {
		opacity: 1;
	}
	30% {
		opacity: 0;
	}
	40% {
		transform: scale(1.2);
	}
}



