<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="static/css/style1.css">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
 
 

   
  <title>Detect Fraud</title>
  </head>
  <body>      
    <i id="gear1" class="fa fa-5x fa-gear spin"></i>
    <i id="gear2" class="fa fa-5x fa-gear spin-back"></i>
    <i id="gear3" class="fa fa-5x fa-gear spin"></i>
      <div class="container py-3">
        <header>
          <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom ">
            
      
            <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
                <a class="me-3 py-2 text-dark text-decoration-none" href="/features">Features</a>
              <a class="me-3 py-2 text-dark text-decoration-none" href="/home">Home </a>
              <a class="me-3 py-2 text-dark text-decoration-none" href="/charts">Charts</a>
              <a type="button" class=" btn btn-dark" href="/logout">Sign out </a>
            </nav>
          </div>
          </header>



<body>

<main>
<div class="header">
<header>
<h1><span class="title">Reliable, Efficient Detection</span><br>
  Powered by ML</h1>
  <p> Our System consist of a robust, state of the art machine learning model which correctly predicts fraudulent transactions.</p>
</header>
</div>

<img src="https://storage.googleapis.com/gweb-cloudblog-publish/images/2_model_development.max-1900x1900.png">




<div class="row">
  <div class="card border-top-color-cyan">
    <div class="container">
      <h4><b>ML model</b></h4> 
      <p>Used to process the data to identify fraudulent transactions.</p>
      <div class="icons"><img src="https://www.pngitem.com/pimgs/m/76-761296_machine-learning-model-icon-hd-png-download.png" alt="Supervisor Icon" class="icon-imgs"></div> 
    </div>
  </div>
  <div>
  <p>Machine learning (ML) is a type of artificial intelligence (AI) that allows software applications to become more accurate at predicting outcomes without being explicitly programmed to do so. Machine learning algorithms use historical data as input to predict new output values.</p>
  <h4>Why is machine learning important?</h4>
  <p>Machine learning is important because it gives enterprises a view of trends in customer behavior and business operational patterns, as well as supports the development of new products. Many of today's leading companies, such as Facebook, Google and Uber, make machine learning a central part of their operations. Machine learning has become a significant competitive differentiator for many companies.</p>
</div>
  <div>
  <div class="row">
  <div class="card border-top-color-red">
    <div class="container">
      <h4><b>Flask Framework</b></h4> 
      <p>Uses Flask Framework for higher flexibility with latest technologies.</p>
      <div class="icons"><img src="https://cms-assets.tutsplus.com/uploads/users/30/posts/16037/preview_image/flask.png" alt="Team Builder Icon" class="icon-imgs"></div> 
    </div>
  </div>
  <h4>Why Flask?</h4>
  <p>Flask is a micro web framework written in Python. It is classified as a microframework because it does not require particular tools or libraries.It has no database abstraction layer, form validation, or any other components where pre-existing third-party libraries provide common functions. However, Flask supports extensions that can add application features as if they were implemented in Flask itself. Extensions exist for object-relational mappers, form validation, upload handling, various open authentication technologies and several common framework related tools.

    Applications that use the Flask framework include Pinterest and LinkedIn</p>


<div class="row">
  <div class="card border-top-color-orange">
    <div class="container">
      <h4><b>MySQL Workbench</b></h4> 
      <p>MySQL Workbench is a unified visual tool for DB architects, developers, and DBAs.</p> 
      <div class="icons"><img src="https://dashboard.snapcraft.io/site_media/appmedia/2020/04/mysql-workbench.png" alt="Karma Icon" class="icon-imgs"></div>  
    </div>
 </div>
  <p>Database Used For Admin Login-Registration (For representation purpose)</p>
  <img src="https://i.ibb.co/v1GWdXX/Screenshot-2022-03-19-122840.png" alt="Screenshot-2022-03-19-122840"/>
 <p></p>
 <h4>What is MySQL Workbench?</h4>
  <p>MySQL Workbench is a unified visual database designing or graphical user interface tool used for working with database architects, developers, and Database Administrators. It is developed and maintained by Oracle. It provides SQL development, data modeling, data migration, and comprehensive administration tools for server configuration, user administration, backup, and many more. We can use this Server Administration for creating new physical data models, E-R diagrams, and for SQL development (run queries, etc.).</p>
  
 
  <div class="row">
  <div class="card border-top-color-orange">
    <div class="container">
      <h4><b>HTML-CSS</b></h4> 
      <p>Cost effective Multi-Platform Development for a better user experience</p> 
      <div class="icons"><img src="https://www.lambdatest.com/blog/wp-content/uploads/2018/11/JPG-2.jpg" alt="Karma Icon" class="icon-imgs"></div>  
    </div>
  </div>
  <h4>What is HTML-CSS?</h4>
  <p>HTML (the Hypertext Markup Language) and CSS (Cascading Style Sheets) are two of the core technologies for building Web pages. HTML provides the structure of the page, CSS the (visual and aural) layout, for a variety of devices. Along with graphics and scripting, HTML and CSS are the basis of building Web pages and Web Applications.</p>

 
<div class="row">
  <div class="card border-top-color-blue">
    <div class="container">
      <h4><b>Charts</b></h4> 
      <p>Correct depiction of ML algorithms used in ML model.</p> 
        <div class="icons"><img src="https://as2.ftcdn.net/v2/jpg/01/39/87/21/1000_F_139872181_C83CfEuwcamWVNx8mr63CrZuGs3Wk02m.jpg" alt="Ca;Calculator Icon" class="icon-imgs"></div> 
      </div>
    </div>
<h4>What are the popular ML models?</h4>
<p>Linear Regression</p>
<p>It is used to estimate real values (cost of houses, number of calls, total sales etc.) based on continuous variables. Here, we establish a relationship between the independent and dependent variables by fitting the best line. This best fit line is known as the regression line and represented by a linear equation Y= aX + b.
</p>
  
<p>Logistic Regression </p>
<p>
  Don’t get confused by its name! It is a classification, and not a regression algorithm. It is used to estimate discrete values ( Binary values like 0/1, yes/no, true/false ) based on a given set of independent variable(s). In simple words, it predicts the probability of occurrence of an event by fitting data to a logit function. Hence, it is also known as logit regression. Since it predicts the probability, its output values lie between 0 and 1.</p>


<p>Decision Tree </p>
<p>
 It is a type of supervised learning algorithm that is mostly used for classification problems. Surprisingly, it works for both categorical and continuous dependent variables. In this algorithm, we split the population into two or more homogeneous sets. This is done based on the most significant attributes/ independent variables to make as distinct groups as possible.</p>

<p>Naive Bayes </p>
<p>
This is a classification technique based on Bayes’ theorem with an assumption of independence between predictors. In simple terms, a Naive Bayes classifier assumes that the presence of a particular feature in a class is unrelated to the presence of any other feature.

For example, a fruit may be considered to be an apple if it is red, round, and about 3 inches in diameter. Even if these features depend on each other or upon the existence of the other features, a naive Bayes classifier would consider all of these properties to independently contribute to the probability that this fruit is an apple.
</p>

<p>kNN (k- Nearest Neighbors) </p>
<p>
  It can be used for both classification and regression problems. However, it is more widely used in classification problems in the industry. K nearest neighbors is a simple algorithm that stores all available cases and classifies new cases by a majority vote of its k neighbors. The case being assigned to the class is most common amongst its K nearest neighbors measured by a distance function.
  
  These distance functions can be Euclidean, Manhattan, Minkowski and Hamming distance. </p>
  

</main>
</body>
</html>